 <h1>Home Page</h1>
 {{!-- <nav class="navbar navbar-dark bg-dark">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
      <a class="nav-link" href="#">Sign Up</a>
      <a class="nav-link" href="#">Log In</a>
      <a class="nav-link" href="#">Search</a>
  </nav> --}}