{{!-- views/auth/signup.hbs --}}
<div id="form">
  <h2>Login</h2>
  <form action="/auth/login" method="POST">
    <label> Email
    </label>
      <input type="email" name="email" />

    <label> Password
    </label>
      <input type="password" name="password" />

    <button type="submit">Login</button>

    {{!-- error message will be added here --}}
  </form>
</div>
