.submit {
  display:inline-block;
  padding-top: 30vw;
  padding-left: 40vw;
  
}

.submit input {
  background-color: white;
  border-style: solid;
  border-width: thin;
  padding: 17px 85px;
  font-weight: normal;
  font-size: 25px;

}

body {
  background-color: navy;
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

@media (max-width: 991px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

#form {
  margin-left: 35vw;
  margin-right: 35vw;
  padding-top: 25vw;
}

#landing-page {
    height: 90vh;
    background-image: url('/images/landingImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* #login {
  height: 90vh;
  background-image: url('/images/landingImage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

main {
  margin-top: 10vh;
}